APP_NAME=mallow-sale
APP_SERVICE=service_name
APP_HOST=localhost
APP_PORT=4001

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=123456
DB_PORT=27017
DB_NAME=mellow-sale

GRPC_INVENTORY_HOST=localhost:5001
GRPC_RECIPE_HOST=localhost:5002
GRPC_USAGE_UNIT_HOST=localhost:5003
